body {
  margin: 0;
}

@import 'home';
@import 'contact';


body {

  // background-image: url('http://i.imgur.com/AdrfEb2.gif');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 1vh;
  width: 100%;
  overflow: scroll;
  position: fixed;
  .glyphicon {
    color: white;
  }
  a {
    color: white;
    &:hover {
      color: white;
    }
  }
  .background {
    height: 1000px;
    overflow: scroll;
  }
}
header {


  // background-image: url('http://static4.businessinsider.com/image/520e788f69bedd084b000006/ibhwzcrdlyu6lg.gif');
  // background-image: url('http://i.imgur.com/gmuhE5e.gif');
  // background-image: url('http://i.imgur.com/AdrfEb2.gif');

  .main-nav {
    position: fixed;
    padding: 30px;
  font-family: 'Julius Sans One', sans-serif!important;
// font-family: 'Satisfy', cursive;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        vertical-align: middle;
        margin-right: 20px;
        a {
          font-size: 22px;
          line-height: 20px;
          // color: white;
          // text-transform: uppercase;
        }
      }
    }
  }
  .connect {
    top:0;
    right: 0;
    padding: 30px;
    font-size: 22px;
    position: fixed;
  }
}
@media (max-width: 500px) {
  .background {
  .main-nav {
    ul {
      li {
        display: list-item;
        margin-bottom: 30px;
        &.store {
          margin-bottom: 0;
        }
      }
    }
  }
}
}
// <nav class='main-nav'>
//   <ul class>
//     <li><a ui-sref="about"></a>About Lisa</li>
//     <li><a ui-sref="testimonials"></a>Testimonials</li>
//     <li><a ui-sref="store"></a>For Sale</li>
//   </ul>
// </nav>
