<div class="home container">
  <span class="glyphicon glyphicon-chevron-left" ng-click="changeBackgroundLeft()" aria-hidden="true"></span><span class="glyphicon glyphicon-chevron-right" ng-click="changeBackgroundRight()"aria-hidden="true"></span>
  <div class="home1">
  <div class="q1 Q"> Do you have a goal that is just out of reach? </div>
  <div class="q2 Q"> Do you have unexplained anxiety or pain? </div>
  <div class="q3 Q"> Or a health condition that is preventing you from living your best life? </div>
  <div class="q4 Q"> Do you want to be more motivated? </div>
  <div class="q5 Q"> Feel more energized? </div>
  <div class="q6 Q"> Do you want to be Healthier? </div>
  <div class="q7 Q"> Happier? </div>
  <div class="q8 Q"> Are you standing in your own way?<br>
    <a ui-sref="contact" class="q9"><span class="glyphicon glyphicon-envelope"></span></a></div>

  </div>
</div>
