<div class="home container">
    <span class="glyphicon glyphicon-chevron-left" ng-click="changeBackgroundLeft()" aria-hidden="true"></span><span class="glyphicon glyphicon-chevron-right" ng-click="changeBackgroundRight()" aria-hidden="true"></span>
    <div class="home1">
      <div class="qc">
        <div class="q1 Q">&nbsp Do you have a goal that is just out of reach? </div>
        <div class="q2 Q">&nbsp Do you have unexplained anxiety or pain? </div>
        <div class="q3 Q">&nbsp Or a health condition that is preventing you from living your best life? </div>
        <div class="q4 Q">&nbsp Do you want to be more motivated? </div>
        <div class="q5 Q">&nbsp Feel more energized? </div>
        <div class="q6 Q">&nbsp Do you want to be Healthier? </div>
        <div class="q7 Q">&nbsp Happier? </div>
        <div class="q8 Q">&nbsp Are you standing in your own way?</div>
        <div class="q9 Q">
          <a ui-sref="contact" class="q9"><span class="glyphicon glyphicon-envelope"></span></a>
        </div></div>
    </div>
</div>
