<div class="payWrap">
    <form role="form" action="/stripe" method="POST" id="payment-form">
      <!-- <div class="lotusBox">
        <div class="vase">
          <img src="../css/media/lotus.png" alt="">
        </div>
      </div> -->
      <span class="glyphicon glyphicon-remove-circle" ng-click="$('.background').scrollTop(0);" ui-sref="home"></span>
        <span class="payment-errors"></span>

        <div class="form-row">
          <label>
            <span class="inputName">Name</span>
            <input class="inputColumn" ng-model="newSender" type="text" size="25">
          </label>
        </div>
        <div class="form-row">
          <label>
            <span class="inputName">Email</span>
            <input class="inputColumn" ng-model="senderEmail" type="text" size="25">
          </label>
        </div>
        <div class="form-row">
          <label>
            <span class="inputName">Amount</span>
            <input class="inputColumn" type="number" step="0.01" ng-model="newAmount" size="7" data-stripe="number" ng-model="amount" required>
          </label>
        </div>

        <div class="form-row">
          <label>
            <span id="for" class="inputName">For</span>
            <textarea class="inputColumn" form="payment-form" ng-model="newDescr" rows="5" cols="27" placeholder="Include shipping address here, if applicable." ng-model="description"></textarea>
          </label>
        </div>


    <div class="form-row">
      <label>
        <span class="inputName">Card Number</span>
        <input type="text" size="20" maxlength="16" class="inputColumn" data-stripe="number" required>
      </label>
    </div>


        <div class="form-row">
            <label>
              <span class="inputName">Expiration</span>
              <input type="text" size="2" ng-minlength="2" ng-maxlength="2" maxlength="2" min="1" max="12" class="expDate cc" data-stripe="exp_month" placeholder="MM"required>
            </label>

            <span> / </span>
            <input type="text" class="expDate cc" ng-minlength="2" ng-maxlength="2" min="1" max="31" size="2" data-stripe="exp_year" placeholder="YY" required>

            <label>
              <span class="inputName code">CVC</span>
              <input type="number" class="code cc" ng-minlength="3" ng-maxlength="4" min="0000" max="9999" size="4" placeholder="XXX" data-stripe="c  vc" required>
            </label>
        </div>

        <input style="display:none" name="amount" value="{{newAmount}}">
        <input style="display:none" name="sender" value="{{newSender}}">
        <input style="display:none" name="description" value="{{newDescr}}">
        <input style="display:none" name="email" value="{{senderEmail}}">
        <input id="sendButton" type="submit" class="submit" value="Send {{newAmount | currency}}">
    </form>
</div>
