<div class="aboutWrap">
  <div class="innerAbout container">
    <div class="aboutBox">
      <div class="portraitBox">
        <img src="css/media/lisa.png" alt="">
      </div>
      <p>&nbsp &nbsp I have been drawn to a path of healing for many years. My former career has been in the food industry, making products that taste good, but aren't good for the body. The more I designed these unhealthy products, the more my interest in health grew.<br><br> &nbsp &nbsp We've all had experiences in our past that influence our present state; and not always in positive ways. As a healer I practice methods of releasing this life damage to relieve pain, suffering and anxiety. <br><br> &nbsp &nbsp The body has an amazing ability to heal itself - we only need to give it the tools. <br><br> Your healing is guided by your own intuition -- by your 'deepest wisdom', with the goal of achieving your highest good. </p>
    </div>
  </div>
</div>
