.home {
  height: 6000px;
  width: 100%;
  color: white;
  text-align: center;
  // overflow: scroll;

  .home1 {
    width: 100%;
    padding-top: 30vh;
    height: 100vh;
  text-align: center;

    // position: fixed;
    // margin-right: 7vw;
    // position: fixed;
    // text-align: center;
    // font-family: 'Roboto Slab', serif;
    // font-family: 'Questrial', sans-serif;
    // font-family: 'Julius Sans One', sans-serif;
    .qc {
      position: absolute;
      width: 73%;
      text-align: justify;
      left: 13.3%;
      pointer-events: none;
    .Q {
      margin: 0 auto;
      // width: 60%;
      font-size: 30px;
      display: inline;
      opacity: 0;
      line-height: 60px;
      font-family: 'Roboto Slab', serif;
      font-weight: 300;
      transition: 2s opacity;
      // position: fixed;
      // top: 48vh;
      // left: 0;
      // right: 0;
      // margin: 0 auto;
      &.q9 {
        display: block;
        width: 100%;
        text-align: center;
        .glyphicon-envelope {
          position: static;
          margin-top: 10px;
          transition: 0.4s color;
          &:hover {
            font-size: 30px;
            color: #23527c;
          }
        }
      }
      }
    .q1 {
      opacity: 1;
    }
  }
  }
}
.home {
.glyphicon {
  position: absolute;
  top: 50vh;
  // color: white;
  -webkit-transition: font-size 0.5s, height 0.5s; /* Safari */
    transition: font-size 0.5s, height 0.5s;
  &:hover {
    font-size: 20px;
    // top: 49vh;
  }
}

.glyphicon-chevron-left {
  left: 15px;
}

.glyphicon-chevron-right {
  right:15px;
}
}

@media (max-width: 1029px) {
  .home {
    .home1 {
      .qc {
      .Q {
        line-height: 50px;
        &.q9 {
          .glyphicon-envelope {
            margin-top: 20px;
          }
        }
      }
    }
    }
  }
}

@media (max-width:748px) {
  .home {
    .home1 {
      .qc {
      .Q {
        font-size: 24px;
        line-height: auto;
        &.q9 {
          .glyphicon-envelope {
            margin-top: 0px;
          }
        }
      }
    }
    }
  }
}

@media (max-width: 599px) {
  .home {
    .home1 {
      .qc {
      .Q {
        font-size: 20px;
        &.q9 {
          .glyphicon-envelope {
          }
        }
      }
    }
    }
  }
}
@media(max-width: 500px) {
  .home {
    height: 4500px;
    .home1 {
      .qc {
      .Q {
        line-height: 22px;
        top: 40vh;
        font-size: 20px;
        &.q9 {
          .glyphicon-envelope {
            margin-top: 5px;
          }
        }
      }
    }
    }

  .glyphicon-chevron-left {
    display: none!important;
  }
  .glyphicon-chevron-right {
    display: none!important;
  }
}
}
