// <div class="lotusBox">
//   <div class="vase">
//     <img src="../css/media/lotus.png" alt="">
//   </div>
// </div>


.payWrap {
  margin-top: 100px;
  padding-top: 70px;
  background-color: rgba(192,192,192, 0.5);
  border: 1px solid white;
  min-height: 603px;
  width: 100vw;
  #payment-form {
    width: 370px;
    margin: 0 auto;
    border: 2px inset white;
    padding-top:25px;
    padding-right: 10px;
    padding-left: 0px;
    padding-bottom:25px;
    border-radius: 10px;
    background-color: rgba(245,245,247, 0.7);

    // background-opacity: 0.4;
    position: relative;
  }
  .lotusBox {
    position: absolute;
    top: -30px;
    margin: auto;
    right: 40%;
    left: 40%;
    .vase {
      width: 50px;
      height: 50px;
      background-image: url('../css/media/lotus.png');
      background-size: cover;
      background-position: center center;
      border: 4px solid white;
      border-radius: 100%;
      text-align: center;
      position: relative;
      // img {
      //   position: absolute;
      //   top:-5px;
      //   left: 0px;
      //   height: 50px;
      //   width: 50px;
      // }
    }
  }
  .glyphicon {
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 16px;
    color: darkgrey;
    transition: 1s color;
    &:hover {
      color: red;
    }
  }
  .form-row {
    margin-bottom: 20px;
    .inputName {
      display: inline-block;
      width: 110px;
      text-align: right;
      font-family: "Julius Sans One", sans-serif;
      &#for {
        float: left;
        height: 106px;
        margin-right: 4px;
      }
    }
    .inputColumn {
      width: 238px;
    }
    textarea {
      border-color: #CCCCCC;
      // float: right;
    }
  }
  .code {
    text-align: center;
    width: 40px;
    &::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  }
  }
  .expDate {
    width: 34px;
    text-align: center;
    font-weight: bold;
  }
  #sendButton {
    border-radius: 15px;
    background-color: white;
    display: block;
    margin: 0 auto;
    &:focus {
      outline: none;
      box-shadow: 0 0 3pt 2pt #72ACEA;

    }
  }
}

@media (max-width: 500px) {
  .payWrap {
    margin-top: 205px;
    padding-top: 10px;
    min-height: 500px;
    #payment-form {
      width: 310px;
      font-size: 10px;
    }
    .form-row {
    .inputName {
      width: 60px;
    }
    .inputColumn {
      width: 220px;
    }
  }
  }
}



// <form action="/your-charge-code" method="POST" id="payment-form">
//   <span class="payment-errors"></span>
//
//   <div class="form-row">
//     <label>
//       <span>Card Number</span>
//       <input type="text" size="20" data-stripe="number">
//     </label>
//   </div>
//
//   <div class="form-row">
//     <label>
//       <span>Expiration (MM/YY)</span>
//       <input type="text" size="2" data-stripe="exp_month">
//     </label>
//     <span> / </span>
//     <input type="text" size="2" data-stripe="exp_year">
//   </div>
//
//   <div class="form-row">
//     <label>
//       <span>CVC</span>
//       <input type="text" size="4" data-stripe="cvc">
//     </label>
//   </div>
//
//
//   <input type="submit" class="submit" value="Submit Payment">
// </form>
