.storeWrap {
  margin: 0;
  height: 85vh;
  width: 100vw;
  overflow-y: scroll;
  background-color: rgba(192,192,192, 0.5);
  margin-top: 15vh;
  border: 2px solid white;
  background-color: rgba(255,255,255, 0.5);
  text-align: center;
  // font-family: 'Satisfy', cursive;
  padding-top: 30px;
  color: white;
  h2 {
    font-family: arial, sans-serif;
    font-size: 40px;
    margin: auto;
    width: 70%;

  }
}


@media (max-width: 500px) {
  .storeWrap {
    margin-top: 30vh;
  }
}

// <div class="storeWrap">
//   <div class="innerStore">
//     <h2>Under Construction. Check back soon!</h2>
//   </div>
// </div>
