body {
  margin: 0; }

.home {
  height: 6000px;
  width: 100%;
  color: white;
  text-align: center; }
  .home .home1 {
    width: 100%;
    padding-top: 30vh;
    height: 100vh;
    text-align: center; }
    .home .home1 .qc {
      position: absolute;
      width: 73%;
      text-align: justify;
      left: 13.3%;
      pointer-events: none; }
      .home .home1 .qc .Q {
        margin: 0 auto;
        font-size: 30px;
        display: inline;
        opacity: 0;
        line-height: 60px;
        font-family: 'Roboto Slab', serif;
        font-weight: 300;
        transition: 2s opacity; }
        .home .home1 .qc .Q.q9 {
          display: block;
          width: 100%;
          text-align: center; }
          .home .home1 .qc .Q.q9 .glyphicon-envelope {
            pointer-events: auto;
            position: static;
            margin-top: 10px;
            transition: 0.4s color; }
            .home .home1 .qc .Q.q9 .glyphicon-envelope:hover {
              font-size: 30px;
              color: #23527c; }
      .home .home1 .qc .q1 {
        opacity: 1; }

.home .glyphicon {
  position: absolute;
  top: 50vh;
  -webkit-transition: font-size 0.5s, height 0.5s;
  /* Safari */
  transition: font-size 0.5s, height 0.5s; }
  .home .glyphicon:hover {
    font-size: 20px; }
.home .glyphicon-chevron-left {
  left: 15px; }
.home .glyphicon-chevron-right {
  right: 15px; }

@media (max-width: 1029px) {
  .home .home1 .qc .Q {
    line-height: 50px; }
    .home .home1 .qc .Q.q9 .glyphicon-envelope {
      margin-top: 20px; } }
@media (max-width: 748px) {
  .home .home1 .qc .Q {
    font-size: 24px;
    line-height: auto; }
    .home .home1 .qc .Q.q9 .glyphicon-envelope {
      margin-top: 0px; } }
@media (max-width: 599px) {
  .home .home1 .qc .Q {
    font-size: 20px; } }
@media (max-width: 500px) {
  .home {
    height: 4500px; }
    .home .home1 {
      padding-top: 260px; }
      .home .home1 .qc .Q {
        line-height: 22px;
        top: 40vh;
        font-size: 22px; }
        .home .home1 .qc .Q.q9 .glyphicon-envelope {
          margin-top: 5px; }
    .home .glyphicon-chevron-left {
      display: none !important; }
    .home .glyphicon-chevron-right {
      display: none !important; } }
.connection {
  margin-top: 100%;
  animation: slideIn 0.5s 1 forwards;
  margin-bottom: 10%; }
  .connection .contact-box {
    margin-top: 23vh; }
    .connection .contact-box .contact-form {
      font-family: 'Roboto Slab', serif;
      width: 70%;
      margin: 0 auto;
      background-color: rgba(255, 255, 255, 0.5);
      border: 1px solid white;
      border-radius: 5px;
      padding: 10px;
      position: relative;
      color: white; }
      .connection .contact-box .contact-form .glyphicon-remove-circle {
        position: absolute;
        right: 3px;
        top: 3px;
        font-size: 18px;
        transition: all 0.5s; }
        .connection .contact-box .contact-form .glyphicon-remove-circle:hover {
          font-size: 19px;
          color: red; }
      .connection .contact-box .contact-form h4 {
        text-align: center;
        margin: 20px 0 30px 0;
        font-size: 19px;
        color: black;
        font-family: 'Julius Sans One', sans-serif; }
      .connection .contact-box .contact-form input {
        margin-bottom: 20px;
        color: black; }
      .connection .contact-box .contact-form .emailHead {
        display: inline-block;
        margin-right: 5px; }
      .connection .contact-box .contact-form .glyphicon-question-sign {
        font-size: 14px;
        padding-left: 5px;
        cursor: help; }
      .connection .contact-box .contact-form .popover {
        color: white;
        font-size: 14px;
        border: 1px solid #9370DB;
        background-color: #CEBFEF; }
        .connection .contact-box .contact-form .popover.right .arrow:after {
          border-right-color: #CEBFEF; }
      .connection .contact-box .contact-form .firstName {
        width: 49%;
        margin-right: 2%; }
      .connection .contact-box .contact-form .lastName {
        width: 49%; }
      .connection .contact-box .contact-form .emailBox {
        width: 100%; }
      .connection .contact-box .contact-form textarea {
        color: black;
        width: 100%;
        height: 80px;
        margin-bottom: 10px;
        border: 1px solid #CCCCCC; }
      .connection .contact-box .contact-form button {
        width: 100%;
        text-align: center;
        border-radius: 5px; }
  .connection .messageSent {
    width: 70%;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid white;
    border-radius: 5px;
    padding: 20px;
    display: none;
    margin: 40% auto; }
    .connection .messageSent p {
      text-align: center;
      font-size: 19px;
      color: black;
      font-family: 'Julius Sans One', sans-serif;
      margin: 0; }

@media (max-width: 500px) {
  .connection .contact-box {
    margin-top: 260px; }
    .connection .contact-box .contact-form {
      width: 90%;
      margin-bottom: 15%; } }
.testWrap {
  margin: 0;
  height: auto;
  width: 100vw;
  background-color: rgba(192, 192, 192, 0.5);
  margin-top: 100px;
  border: 1px solid white;
  padding-top: 60px; }
  .testWrap .innerTest {
    margin-top: 100%;
    height: auto;
    animation: slideIn 0.5s 1 forwards; }
    .testWrap .innerTest .mainQuote {
      color: white;
      font-size: 40px;
      height: 250px;
      width: 100%;
      margin: 0 auto 0px auto;
      font-family: 'Satisfy', cursive;
      text-align: center;
      opacity: 0;
      animation: fadeIn 5s alternate infinite; }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  12% {
    opacity: 1; }
  100% {
    opacity: 1; } }
    .testWrap .innerTest .testListWrap {
      width: 85%;
      margin: 30px auto;
      margin-bottom: 150px; }
      .testWrap .innerTest .testListWrap .testList {
        list-style: none;
        padding: 25px 20px 0px 20px;
        border: 2px solid white;
        background-color: rgba(255, 255, 255, 0.5); }
        .testWrap .innerTest .testListWrap .testList .test {
          margin-bottom: 30px;
          font-size: 18px;
          color: white; }

@keyframes slideIn {
  0% {
    margin-top: 100%; }
  100% {
    margin-top: 0; } }
@media (max-width: 991px) {
  .testWrap .innerTest .mainQuote {
    font-size: 30px;
    height: 200px; } }
@media (max-width: 500px) {
  .testWrap {
    margin-top: 205px; }
    .testWrap .innerTest .mainQuote {
      margin-top: 20px;
      font-size: 25px;
      height: 200px; }
    .testWrap .innerTest .testListWrap .testList .test {
      font-size: 12px; } }
@media (max-width: 350px) {
  .testWrap .innerTest .mainQuote {
    font-size: 20px;
    height: 200px;
    margin-bottom: 20px; } }
.aboutWrap {
  margin: 0;
  height: auto;
  width: 100vw;
  background-color: rgba(192, 192, 192, 0.5);
  margin-top: 100px;
  padding-top: 8vh;
  border: 1px solid white;
  position: relative; }
  .aboutWrap .innerAbout {
    animation: fadeIn 1s;
    padding-bottom: 50px; }
    .aboutWrap .innerAbout .aboutBox {
      border: 1px solid white;
      font-size: 24px;
      color: white;
      padding: 30px;
      margin-bottom: 60px;
      max-width: 720px;
      margin: 0 auto 60px;
      background-color: rgba(255, 255, 255, 0.5); }
      .aboutWrap .innerAbout .aboutBox .portraitBox {
        float: left;
        margin: -30px 40px 30px -30px;
        border: 1px solid white; }
        .aboutWrap .innerAbout .aboutBox .portraitBox img {
          height: 290px;
          width: 290px; }
      .aboutWrap .innerAbout .aboutBox p {
        font-family: arial, sans-serif; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@media (max-width: 500px) {
  .aboutWrap {
    margin-top: 205px;
    padding-top: 5vh; }
    .aboutWrap .innerAbout .aboutBox {
      width: 290px; }
      .aboutWrap .innerAbout .aboutBox .portraitBox {
        float: none;
        margin: 0 auto 30px;
        background-size: cover;
        max-width: 290px; }
        .aboutWrap .innerAbout .aboutBox .portraitBox img {
          max-width: 100%;
          height: auto; } }
.storeWrap {
  margin: 0;
  min-height: 603px;
  width: 100vw;
  overflow-y: scroll;
  background-color: rgba(192, 192, 192, 0.5);
  margin-top: 100px;
  border: 1px solid white;
  background-color: rgba(192, 192, 192, 0.5);
  text-align: center;
  padding-top: 60px;
  color: white;
  position: relative;
  z-index: 500; }
  .storeWrap .innerStore {
    z-index: 500;
    width: 64%;
    border: 2px solid whitesmoke;
    padding: 15px;
    margin: 0 auto;
    background-color: rgba(192, 192, 192, 0.7); }
  .storeWrap h2 {
    color: white;
    font-family: 'Arial', sans-serif;
    font-size: 40px;
    margin: auto;
    text-align: left;
    margin-bottom: 40px; }
  .storeWrap input {
    margin-bottom: 30px;
    color: black;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 16px;
    background-color: #F6F6F6;
    border-color: white;
    border-width: medium;
    transition: 0.2s all; }
    .storeWrap input:hover {
      box-shadow: 1px 0px 10px whitesmoke;
      border-style: double; }
    .storeWrap input:focus {
      outline: none; }

@media (max-width: 803px) {
  .storeWrap h2 {
    font-size: 35px; } }
@media (max-width: 500px) {
  .storeWrap {
    margin-top: 205px; }
    .storeWrap h2 {
      font-size: 25px; } }
@media (max-width: 407px) {
  .storeWrap {
    margin-top: 205px; }
    .storeWrap h2 {
      font-size: 24px; } }
.loginBox {
  text-align: center;
  margin: 45vh auto 0 auto; }

.paymentsWrap {
  margin: 0;
  height: auto;
  width: 100vw;
  background-color: rgba(192, 192, 192, 0.5);
  margin-top: 100px;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
  color: black; }
  .paymentsWrap .paymentsTable {
    width: 100%; }
  .paymentsWrap .paymentsTable,
  .paymentsWrap td,
  .paymentsWrap th {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px; }
  .paymentsWrap table tr:nth-child(odd) {
    background-color: #f1f1f1; }
  .paymentsWrap table tr:nth-child(even) {
    background-color: #ffffff; }
  .paymentsWrap #amount {
    width: 100px; }
  .paymentsWrap #date {
    width: 210px; }
  .paymentsWrap .addPaymentBox {
    text-align: right;
    margin-top: 10px; }
  .paymentsWrap #addAmount {
    width: 100px; }
  .paymentsWrap #addDate {
    width: 210px; }
  .paymentsWrap #deleteRow {
    width: 31px; }
  .paymentsWrap .glyphicon-remove-circle {
    color: darkgrey; }
    .paymentsWrap .glyphicon-remove-circle:hover {
      color: red; }

@media (max-width: 500px) {
  .paymentsWrap {
    margin-top: 205px; } }
.payWrap {
  margin-top: 100px;
  padding-top: 70px;
  background-color: rgba(192, 192, 192, 0.5);
  border: 1px solid white;
  min-height: 603px;
  width: 100vw; }
  .payWrap #payment-form {
    width: 370px;
    margin: 0 auto;
    border: 2px inset white;
    padding-top: 25px;
    padding-right: 10px;
    padding-left: 0px;
    padding-bottom: 25px;
    border-radius: 10px;
    background-color: rgba(245, 245, 247, 0.7);
    position: relative; }
  .payWrap .glyphicon {
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 16px;
    color: darkgrey;
    transition: 1s color; }
    .payWrap .glyphicon:hover {
      color: red; }
  .payWrap .form-row {
    margin-bottom: 20px; }
    .payWrap .form-row .inputName {
      display: inline-block;
      width: 110px;
      text-align: right;
      font-family: "Julius Sans One", sans-serif; }
      .payWrap .form-row .inputName#for {
        float: left;
        height: 106px;
        margin-right: 4px; }
    .payWrap .form-row .inputColumn {
      width: 238px; }
    .payWrap .form-row textarea {
      border-color: #CCCCCC; }
  .payWrap .code {
    text-align: center;
    width: 40px; }
    .payWrap .code::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0; }
  .payWrap .expDate {
    width: 34px;
    text-align: center;
    font-weight: bold; }
  .payWrap #sendButton {
    border-radius: 15px;
    background-color: white;
    display: block;
    margin: 0 auto; }
    .payWrap #sendButton:focus {
      outline: none;
      box-shadow: 0 0 3pt 2pt #72ACEA; }

@media (max-width: 500px) {
  .payWrap {
    margin-top: 205px;
    padding-top: 10px;
    min-height: 500px; }
    .payWrap #payment-form {
      width: 310px;
      font-size: 10px; }
    .payWrap .form-row .inputName {
      width: 60px; }
    .payWrap .form-row .inputColumn {
      width: 220px; } }
body {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: fixed; }
  body .glyphicon {
    color: white; }
  body a {
    color: white; }
    body a:hover {
      color: white; }
  body .background {
    height: 100vh;
    overflow: scroll; }

header {
  min-height: 100px;
  border-bottom: 1px solid #8B668B;
  border-right: 1px solid #8B668B;
  border-left: 1px solid #8B668B;
  position: fixed;
  width: 100%; }
  header:after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    z-index: 1;
    top: 100px;
    border: 1px solid white; }
  header .main-nav {
    z-index: 9999;
    padding: 30px;
    font-family: "Julius Sans One", sans-serif !important; }
    header .main-nav ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      header .main-nav ul li {
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px; }
        header .main-nav ul li a {
          font-size: 22px;
          line-height: 20px;
          transition: all 0.35s cubic-bezier(0.23, 1, 0.32, 1);
          transition: 0.3s all; }
          header .main-nav ul li a:hover {
            color: #23527c;
            text-decoration: none; }
          header .main-nav ul li a .activeLink {
            color: #23527c;
            position: relative;
            text-decoration: none; }
            header .main-nav ul li a .activeLink:active {
              text-decoration: none; }
            header .main-nav ul li a .activeLink:hover {
              text-decoration: none; }
            header .main-nav ul li a .activeLink:after {
              position: absolute;
              left: 0;
              top: 21px;
              content: "";
              width: 100%;
              height: 2px;
              border-bottom: 2px solid #23527c;
              animation: slideLine 0.5s forwards; }
@keyframes slideLine {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }
          header .main-nav ul li a .deactiveLink {
            color: #23527c;
            position: relative;
            text-decoration: none; }
            header .main-nav ul li a .deactiveLink:active {
              text-decoration: none; }
            header .main-nav ul li a .deactiveLink:hover {
              text-decoration: none; }
            header .main-nav ul li a .deactiveLink:after {
              position: absolute;
              left: 0;
              top: 21px;
              content: "";
              width: 100%;
              height: 2px;
              border-bottom: 2px solid #23527c;
              animation: slideOutLine 0.5s forwards; }
@keyframes slideOutLine {
  0% {
    width: 100%; }
  100% {
    width: 0%; } }
        header .main-nav ul li .closer {
          display: inline-block;
          padding-left: 6px;
          width: 18px !important;
          height: 20px !important;
          color: #23527c; }
          header .main-nav ul li .closer:hover {
            text-decoration: none; }
  header .connect {
    top: 0;
    right: 0;
    padding: 30px;
    font-size: 22px;
    position: fixed; }
    header .connect .glyphicon-envelope {
      transition: all 0.5s; }
      header .connect .glyphicon-envelope:hover {
        color: #23527c;
        font-size: 26px; }
  header .loginLink {
    position: fixed;
    top: 0;
    font-size: 22px;
    right: 50px;
    padding: 30px;
    opacity: 0;
    transition: all 10s; }
    header .loginLink:hover {
      opacity: 1; }

@media (max-width: 500px) {
  .background header {
    height: 205px; }
    .background header:after {
      top: 205px; }
    .background header .main-nav ul li {
      display: list-item;
      font-size: 25px;
      margin-bottom: 20px; }
      .background header .main-nav ul li.storeNav {
        margin-bottom: 0; }
  .background .connect .glyphicon-envelope {
    font-size: 28px; } }

/*# sourceMappingURL=master.css.map */
